<a href="https://colab.research.google.com/github/harim061/EDA/blob/main/Harim/Prepare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparing a dataset
- how does the dataset handle invalid values
- what do we want to do with values
- do we want to summarise, group or filter the data

- 유효하지 않거나 물리적이지 않거나 이상한 값을 어떻게 처리해야 하는지

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("Diabetes.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.head(5)

# 0으로 채워진 곳은 데이터가 없음

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# if) null값이 포함되어있음

# 결측치(null)을 0으로 채우기
df = df.fillna(0)

# null값이 있는 모든 행을 제거
# df.dropna()

In [10]:
# 특별히 대상이 되어야하는 열 가려내는 방법
# 새 데이터 프레임에 넣어야 함

df2 = df[["Glucose","BMI","Age","Outcome"]]
df2.head()

   Glucose   BMI  Age  Outcome
0      148  33.6   50        1
1       85  26.6   31        0
2      183  23.3   32        1
3       89  28.1   21        0
4      137  43.1   33        1

In [11]:
df2.describe()

          Glucose         BMI         Age     Outcome
count  768.000000  768.000000  768.000000  768.000000
mean   120.894531   31.992578   33.240885    0.348958
std     31.972618    7.884160   11.760232    0.476951
min      0.000000    0.000000   21.000000    0.000000
25%     99.000000   27.300000   24.000000    0.000000
50%    117.000000   32.000000   29.000000    0.000000
75%    140.250000   36.600000   41.000000    1.000000
max    199.000000   67.100000   81.000000    1.000000

In [26]:
# 0인 값이 삭제
df3.info()

# 손실된 값이 많나면 어떤 것이 더 나은 데이터 셋인지 생각

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 767
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Glucose  752 non-null    int64
 1   BMI      752 non-null    float64
 2   Age      752 non-null    int64
 3   Outcome  752 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 29.4 KB

In [28]:
# 기능별로 그룹화

df3.groupby("Outcome").mean()

            Glucose        BMI        Age
Outcome
0        110.825820  30.876434  31.309426
1        142.488636  35.371970  37.015152

In [34]:
# aggregate : 메소드에 열 이름을 연결하는 딕셔너리를 전달

# 평균 포도당 / BMI의 중간값 / 나이의 합
df3.groupby("Outcome").agg({"Glucose":"mean","BMI":"median","Age":"sum"})

            Glucose    BMI    Age
Outcome
0        110.825820  30.10  15279
1        142.488636  34.25   9772

In [35]:
# 각 열에 여러 개의 aggregate를 원할 때

df3.groupby("Outcome").agg({"mean","median"})

            Glucose               BMI               Age
               mean median       mean median       mean median
Outcome
0        110.825820  107.5  30.876434  30.10  31.309426   27.0
1        142.488636  140.5  35.371970  34.25  37.015152   36.0

In [36]:
positive = df3.loc[df3["Outcome"]==1]
negative = df3.loc[df3["Outcome"]==0]


# shape (행,열)
print(positive.shape, negative.shape)

(264, 4) (488, 4)

In [38]:
df3.to_csv("clean_diabates.csv",index=False)